* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html, body, body>div, main{
  height: 100%;
}

main{
  padding: 40px;
}

@media screen and (max-width: 600px) {
  main{
    padding: 20px;
  }
}


p, h1, h2, h3, h4, h5{
  margin: 0;
}


.field{
  display: flex;
  flex-direction : column;
  position: relative;
  margin-top: 20px;
}
label{
  display: block;
  cursor: text;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.25rem;
  letter-spacing: .03em;
  padding-top: 1px;
  padding-bottom: 4px;
  color: #888888;
}

input, textarea  {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  outline: none;
  background: none;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 8px 0 6px 0;
  border: 1px solid #BEBEBE;
  border-width: 0 0 1px 0;
}
input::placeholder, textarea::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #BEBEBE;
}
textarea{
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

input.error, input.error::placeholder, textarea.error  {
  color: #b30000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black;
}

.input--bottom-line{
  display: block;
  height: 1px;
  width: 0;
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  transition: .25s;
}
input:focus+.input--bottom-line{
  width: 100%;
}
input.error+.input--bottom-line {
  background: #b30000;
}


button {
  position: relative;
  min-width: 120px;
  height: 36px;
  border-radius: 5px;
  padding: 5px 24px;
  background: #EEEEEE;
  border: none;
  color: inherit;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: .4s ease-out;
}
button:hover{
  cursor: pointer;
  background: #D0D0D0;
}
button:focus{
  outline: none;
}


/* ICON */
.icon{

}
.icon-click{
  color: #BEBEBE;
  transition: .4s ease-out;
}
.icon-click:hover, .icon-active{
  color: black;
  cursor: pointer;
  transition: .4s ease-out;
}
/* ICON */

/* CONTAINER */
.container{
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper--search{
  width: 230px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D0D0D0;
}

.wrapper--center{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* CONTAINER */




/* STOCK */
.stock--lists{
  position: relative;
}
.stock--list-tickers{
  margin-top: 15px;
}
.stock--list-suggestions{
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: white;
  box-shadow: 0 0 10px 2px #D0D0D0;
  z-index: 2;
}
.stock--element{
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: .4s ease-out;
}
.stock--element:hover{
  cursor: pointer;
  background-color: #EEEEEE;
}
.stock--element.active{
  margin: 4px 0;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
}
.stock--element.active:hover{
  background-color: #EEEEEE;
}

.stock--ticker{
  font-weight: 500;
}

.stock--name{
  font-size: .8rem;
  font-weight: 400;
  color: #BEBEBE;
}
/* STOCK */



.submit{
  margin-top: 20px;
}



/* CHART */
.chart{
  margin: 40px;
}
.highcharts-credits{
  display: none;
}
/* CHART */



/* SLIDER */
.range-slider--container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.range-slider--container span{
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #3679dd;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  top: -18px;
  left: calc(10px + 0%);
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-slider--container span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #3679dd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.range-slider--bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8rem;
}
.range-slider--bottom > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-slider--timeframe{
  text-transform: uppercase;
  margin: 0 20px;
}
/* SLIDER */



.error-message--list{
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
