:root {
  --first-color: #000000;
  --second-color: #BEBEBE;
  --third-color: #D0D0D0;
  --fourth-color: #EEEEEE;
  --bg-color: #ffffff;
  --red-color: #b30000;
  --fast-transition: .25s ease-out;
  --slow-transition: .4s ease-out;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html, body, body>div, main{
  height: 100%;
}

main{
  padding: 40px;
}


@media screen and (max-width: 600px) {
  main{
    padding: 20px;
  }
}

a{
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.field{
  display: flex;
  flex-direction : column;
  position: relative;
  margin-top: 20px;
}
label{
  display: block;
  cursor: text;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.25rem;
  letter-spacing: .03em;
  padding-top: 1px;
  padding-bottom: 4px;
  opacity: .4;
}

input, textarea  {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  outline: none;
  background: none;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--first-color);
  padding: 8px 0 6px 0;
  border: 1px solid var(--second-color);
  border-width: 0 0 1px 0;
}
input::placeholder, textarea::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--second-color);
}
textarea{
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

input.error, input.error::placeholder, textarea.error  {
  color: var(--red-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--first-color);
}

.input--bottom-line{
  display: block;
  height: 1px;
  width: 0;
  position: absolute;
  background: var(--first-color);
  bottom: 0;
  left: 0;
  transition: var(--fast-transition);
}
input:focus+.input--bottom-line{
  width: 100%;
}
input.error+.input--bottom-line {
  background: var(--red-color);
}


button {
  position: relative;
  min-width: 120px;
  height: 36px;
  border-radius: 5px;
  padding: 5px 24px;
  background: var(--fourth-color);
  border: none;
  color: inherit;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: var(--slow-transition);
}
button:hover{
  cursor: pointer;
  background: var(--third-color);
}
button:focus{
  outline: none;
}

/* HEADER */
.navbar{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  border: 1px solid var(--first-color);
  z-index: 1000;
}
.menu-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 40px;
}
.large-menu-area{
  display: flex;
  align-items: center;
}
.large-menu-list{
  display: flex;
}
.large-menu-list li{
  white-space: nowrap;
  font-weight: 700;
  opacity: .5;
  transition: var(--fast-transition);
}
.large-menu-list li:hover{
  opacity: 1
}
.btn-menubar{

}
.mobile-menu-list{

}
/* HEADER */


/* ICON */
.icon{

}
.icon-click{
  color: var(--second-color);
  transition: var(--slow-transition);
}
.icon-click:hover, .icon-active{
  color: var(--first-color);
  cursor: pointer;
  transition: var(--slow-transition);
}
/* ICON */

/* CONTAINER */
.container{
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapper--search{
  width: 230px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--third-color);
}

.wrapper--center{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* CONTAINER */




/* STOCK */
.stock--lists{
  position: relative;
}
.stock--list-tickers{
  margin-top: 15px;
}
.stock--list-suggestions{
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px 2px var(--fourth-color);
  z-index: 2;
}
.stock--element{
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: var(--slow-transition);
}
.stock--element:hover{
  cursor: pointer;
  background-color: var(--fourth-color);
}
.stock--element.active{
  margin: 4px 0;
  border-radius: 5px;
  border: 1px solid var(--third-color);
}
.stock--element.active:hover{
  background-color: var(--fourth-color);
}

.stock--ticker{
  font-weight: 500;
}

.stock--name{
  font-size: .8rem;
  font-weight: 400;
  color: var(--second-color);
}
/* STOCK */



.submit{
  margin-top: 20px;
}



/* CHART */
.chart{
  margin: 40px;
}
.highcharts-credits{
  display: none;
}

.highcharts-yaxis{
  margin: 10px 0;
}
/* CHART */



/* SLIDER */
.range-slider--container{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.range-slider--container span{
  display: block;
  opacity: 0;
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #3679dd;
  color: var(--bg-color);
  font-size: 12px;
  position: absolute;
  top: -18px;
  left: calc(10px + 0%);
  transform: translate(-50%, 0);
  border-radius: 6px;
  transition: var(--fast-transition);
}
.range-slider--container:hover span{
  opacity: 1;
  transition: var(--fast-transition);
}
.range-slider--container span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #3679dd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.range-slider--bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8rem;
}
.range-slider--bottom > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-slider--timeframe{
  text-transform: uppercase;
  margin: 0 20px;
}
/* SLIDER */



.error-message--list{
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
